/* Styl główny dla galerii */
.gallery {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 15px;
}

/* Styl dla tytułu */
.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Kontener dla obrazków */
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

/* Styl dla obrazków */
.images {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

/* Styl dla pojedynczego obrazka */
.imageWrapper {
  flex: 1;
  max-width: 23%;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 15px;
}

.imageWrapper:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styl dla zdjęcia */
.photo {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: opacity 0.3s ease;
}

.photo:hover {
  opacity: 0.85;
}

/* Przycisk do przewijania */
.scrollButton {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Ciemniejsze tło, aby przyciski były bardziej widoczne */
  color: #fff;
  border: 2px solid #f5f5f5; /* Dodanie białego obramowania */
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease,
    border-color 0.3s ease;
  z-index: 10;
}

.scrollButton:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Jeszcze ciemniejsze tło na hover */
  transform: scale(1.1);
  border-color: #fff; /* Podkreślenie obramowania na hover */
}

/* Lewy przycisk */
.leftButton {
  position: absolute;
  left: 15px;
}

/* Prawy przycisk */
.rightButton {
  position: absolute;
  right: 15px;
}

/* Styl dla modala */
/* Styl dla modala */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  width: 80vw; /* Zwiększenie szerokości modala */
  height: 80vh; /* Zwiększenie wysokości modala */
  margin: auto;
  border-radius: 20px;
  border: 1px solid #f5f5f5; /* Dodanie cienkiego, białego obramowania */
  z-index: 1000; /* Ustawiamy wysoki z-index, aby modal pojawiał się na wierzchu */
  position: fixed; /* Fixed position ensures modal stays in view */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #f5f5f5;
}

.fullscreenImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  border: 1px solid #f5f5f5; /* Dodanie obramowania również do zdjęcia */
}

@media (min-width: 1200px) {
  .modal {
    width: 80vw; /* Zmniejszenie szerokości modala na bardzo dużych ekranach */
    height: 80vh; /* Zmniejszenie wysokości modala na bardzo dużych ekranach */
  }
}
/* Responsywność dla telefonów komórkowych */
@media (max-width: 768px) {
  .imageWrapper {
    max-width: 30%;
    padding: 5px;
  }

  .scrollButton {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-width: 3px;
  }

  .photo {
    box-shadow: none;
  }

  .leftButton {
    left: -15px;
  }

  .rightButton {
    right: -15px;
  }
}
