.sidebar {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  min-width: 150px;
  position: fixed;
  right: -100px; /* Adjust to make the sidebar more visible */
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(0);
  z-index: 9999;
  animation: sidebarItemMove 10s infinite;
  border: none;
  gap: 3px;
}

.sidebarItem {
  box-shadow: 1px 1px 30px rgba(1, 1, 1, 0.5);
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.sidebarItem:nth-child(1) {
  position: relative;
  right: -30px; /* Adjust to make the sidebar more visible */

  background-color: #1877f2;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.sidebarItem:nth-child(2) {
  position: relative;
  right: -20px; /* Adjust to make the sidebar more visible */

  background: linear-gradient(45deg, #833ab4, #c13584, #f56040, #ffdc80);
  font-family: "Proxima Nova", "Roboto", sans-serif;
}

.sidebarItem:nth-child(3) {
  position: relative;
  right: -10px; /* Adjust to make the sidebar more visible */

  background-color: rgba(0, 255, 4, 0.638);
  font-family: "Proxima Nova", "Roboto", sans-serif;
  z-index: 9999;
}

.sidebarItem:hover {
  transform: translateX(-30%);
}
@keyframes sidebarItemMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
