.socialLinks {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  color: white;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.facebook {
  background-color: #3b5998;
}

.instagram {
  background-color: #e1306c;
}

.phone {
  background-color: #25d366;
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
  }
}
