* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* overflow-x: hidden; */
}
body{
  background-color: #1f1f1f;



}
.App {
  min-height: 100%;
  max-height: max-content;
  // font-size: clamp(16px, 2vw, 32px);
  background-color: #1f1f1f;
  min-width: 100%;
  /* background-image: url("./assets/mainbackground.png"); */
  background-repeat: repeat-y;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
}

strong {
  color: red;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1070px) {
  .App {
    // font-size: 32px;
  }
}
@media (max-width: 768px) {
  .App {
    // font-size: 18px;
  }
}
